pytz
requests
python-dotenv~=0.19.0
ipython

# Django
django~=3.2.7
django-timezone-field 
django-cors-headers
django-debug-toolbar~=3.2.2
whitenoise

# For ImageFields
Pillow~=8.4.0

# Django 3.0 async requirements
gunicorn
uvicorn
uvloop
httptools

# Databases
psycopg2-binary
dj-database-url

# Distributed tasks
celery~=5.1.2
redis
django-celery-beat

# Telegram
python-telegram-bot

# monitoring
# sentry-sdk

# Rendering docx from template
docxtpl~=0.14.2

# For slugify
pytils~=0.3

# For cleaning
django_cleanup~=5.2.0